<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>dunggla.controllers.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>dunggla.controllers.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>dunggla.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>dunggla.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllServlet</servlet-name>
        <servlet-class>dunggla.controllers.ShowAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByContentServlet</servlet-name>
        <servlet-class>dunggla.controllers.SearchByContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.ShowDetailArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.PostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentServlet</servlet-name>
        <servlet-class>dunggla.controllers.PostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchServlet</servlet-name>
        <servlet-class>dunggla.controllers.AdminSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.ApprovalArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.DeleteAllArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndoDeleteArticleServlet</servlet-name>
        <servlet-class>dunggla.controllers.UndoDeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCmtServlet</servlet-name>
        <servlet-class>dunggla.controllers.DeleteCmtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <servlet-class>dunggla.controllers.DeleteMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>dunggla.controllers.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllServlet</servlet-name>
        <url-pattern>/ShowAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByContentServlet</servlet-name>
        <url-pattern>/SearchByContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailArticleServlet</servlet-name>
        <url-pattern>/ShowDetailArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleServlet</servlet-name>
        <url-pattern>/PostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentServlet</servlet-name>
        <url-pattern>/PostCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchServlet</servlet-name>
        <url-pattern>/AdminSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalArticleServlet</servlet-name>
        <url-pattern>/ApprovalArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllArticleServlet</servlet-name>
        <url-pattern>/DeleteAllArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndoDeleteArticleServlet</servlet-name>
        <url-pattern>/UndoDeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCmtServlet</servlet-name>
        <url-pattern>/DeleteCmtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberServlet</servlet-name>
        <url-pattern>/DeleteMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/VerifyEmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>lab1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
